:root {
    --primary: #3f3f3f;
    --secondary: ;
    --tertiary: ;
    font-size: 75%;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #d8f0e3;
    text-align: center;
    display: block;
    font-size: large;
}

#start-screen {
    color: var(--primary);
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 5em;
}

.hide {
    display: none !important;
}

.show {
    display: flex;
}

.choices button {
    display: block;
  }